@font-face {
    font-family: 'Museo Sans';
    src: url(MuseoSans-300.otf);
}

:root {
    --color1: #ecd7d2;
    --color1-complement: #c69c96;
    --color1-complement2: #a07f88;
    --color2: #313E50;
    --color2-complement: #3A435E ;
    --main-text: black;
    --text: white;
    --title-font: "Museo Sans", Helvetica, Arial, sans-serif;
    --text-font: 'Quicksand', sans-serif;
}

* {
    font-family: var(--text-font);
    color: var(--text);
}

body {
    background-color: var(--color1);
    margin: 0px;
}

.options {
    padding: 20px;
    height:200px;
    background-color: var(--color1-complement);
    border-radius: 0px 0px 20px 20px;
}

.main {
    display: flex;
    align-items: flex-start;
    margin:10px;
}

.main > .content {
    border-radius: 20px;
    padding: 30px;
    min-height: 250px;
    min-width: 250px;
    background-color: white;
    margin:10px;
}

form input {
    outline: none;
    padding: 10px 50px 10px 5px;
    color: var(--main-text);
    border-radius: 5px;
    border: 0px;
}

form button {
    color: var(--main-text);
    border-radius: 5px;
    background-color: var(--color1-complement2);
    border: 0px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 14px;
}

form h5 {
    display:inline-block;
    margin: 0px;
    font-size: 16px;
}

form fieldset {
    width: fit-content;
    border: 0px;
}