<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="pre.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="options">
        <form>
            <fieldset>
                <h5>Hostname</h5><br>
                <input type="text" name="hostname" id="hostname"/>
                <button type="button" id="submit">Start</button>
            </fieldset>
        </form>
    </div>
    <div class="main">
        <div class="content">

        </div>
    </div>
</body>
<footer>
    <script type="text/javascript" src="script.js"></script>
</footer>
</html>
